/*!
Theme Name:  Nina Nisar
Theme URI:   https://gitlab.com/3treemen/nina-theme
Description: WP Bootstrap Starter Child Theme
Author:      Ronnie Stevens
Author URI:  https://zoo.nl/
Template:    wp-bootstrap-starter
Version:     1.0.0
Tags:        Nina Nisar
Text Domain: wp-bootstrap-starter-child

*/
@import url("../wp-bootstrap-starter/style.css");

@import "fonts/fonts";
@import "elements/headers";
@import "elements/basic";
@import "elements/forms";
@import "elements/blocks";
@import "layout/home";
@import "layout/classes";
@import "elements/buttons";


body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
	font-weight: 200;
    font-size: 18px;
    line-height: 1.2;
    .page-template-fullwidth-sections main {
        width: 100%;
    }
    &:not(.theme-preset-active) {
        #masthead .navbar-nav > li {
            > a {
                font-size: 13px;
                color: rgba(255,255,255,0.7);
                text-transform: uppercase;
                font-family: 'Gotham Medium';
                margin-top: 1rem;
                padding: 0 1rem;
                &.black {
                    color: #000000;
                }
            }
            > a:hover, 
            &.current_page_item > a {
                color: #fff;
                &.black {
                    color: #000000;
                }
            }
               
        }
        #page-sub-header {
            h1 { 
                line-height: 1.3;
                color: #fff;
                margin-top: 63px;
                text-transform: uppercase;
            }
            p {
                font-size: 1.4rem;
                color: #fff;
                font-family:  'EB Garamond', serif;
                font-weight: 600;
                margin-bottom: 2rem;
                margin-top: 2rem;
            }
            #third p {
                font-size: 1.1rem;
                text-transform: uppercase;
                margin-top: 2rem;
            }
        }
        #banner-quote {
            margin-top: 100px;
            color: white;
            text-align: right;
        }
        footer#colophon {
            background-color: #000;
            color: #fff;
            text-align: center;
            padding: 2rem;
        }
        
    }
    #page-sub-header {
        min-height: 388px;
        margin-top: 0px;
        background-position: top center!important;
    }
    
    &.logged-in {
        header#masthead {
            margin-top: 20px;
        }
    }
    header#masthead {
        background-color: rgba(0, 0, 0, 0.3);
        box-shadow: none;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        padding: 0;
        border-bottom: 1px solid #fff;
        .nav {
            text-align: center;
        }
        #main-nav {
            padding-bottom: 1rem;
            .navbar-nav {
                
                li > .dropdown-menu li:hover .dropdown-menu {
                    left: 190px;
                    top: 0;
                    width: 200px !important;
                    display: block;
                }
                > li:hover {
                    > .dropdown-menu {
                        display: block;
                        top: 30px;
                    }
                }
            }
        }
        .navbar-toggler {
            position: absolute;
            right: 1rem;
            top: 1rem;
            font-size: 1.5rem;
            font-weight: 600;
            border: 0 none;
            color: #fff;
        }
        .navbar-brand {
            display: block;
            text-align: center;
            margin: 0;
            > a {
                font-size: 40px;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-family: 'Oswald', sans-serif;
                font-weight: 300;
            }
        }
    }
}
.navbar-expand-xl {
    background-color: rgba(0,0,0,0.9);
}

body.page-id-198 #page-sub-header h1,
body.page-id-198 #page-sub-header p{
    color: #b74619;
}

#content.site-content {
    padding-bottom: 0;
    padding-top: 1.125rem;
    #main {
        width: 100%;
    }
}



footer#social {
    background-color: #757263;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    i {
        margin: 0 0.5rem;
    }
}


/* template full width sections */



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    body:not(.theme-preset-active).page-id-193 #page-sub-header h1 {
        max-width: 23%;
        margin: 5rem auto 2rem!important;
    }
    .wp-block-group__inner-container {
        max-width: 540px;
    }
}
footer i {
    font-size: 2rem;
    padding: 1rem;
}
footer a {
    color: rgba(255,255,255,0.7);
}
footer a:hover {
    text-decoration: none;
    color: #fff;
}

.salmon {
    background-color: #fcc6a7;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    body:not(.theme-preset-active) #page-sub-header h1 {
        font-size: 4.750rem;
        max-width: 80%;
        margin: 5rem auto 2rem;
    }
    #page-sub-header {
        min-height: 420px;
    }
    .vimeo {
        padding-top: 6.4rem;
        padding-bottom: 2rem;
    }
    .wp-block-group__inner-container {
        max-width: 720px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    body:not(.theme-preset-active) #page-sub-header h1 {
        max-width: 32%;
    }
    body.home #page-sub-header h1 {
        max-width: 65%;
    }
    #page-sub-header {
        margin-top: 0;
        min-height: 470px;
    }
    /* duo page specific */
    body.page-id-193 #page-sub-header h1 {
        max-width: 23%;
    }
    .wp-block-group__inner-container {
        max-width: 960px;
    }
    .clipping-left {
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 70%);
    }
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    body {
        #page-sub-header {
            margin-top: 0px;
            min-height: 500px;
        }
    }
    #toggler {
        display: none;
    }
    .navbar-expand-xl {
        background-color: transparent;
    }
    /* duo page specific */
    body.page-id-190 #page-sub-header {
        background-position: center center!important;
    }
    .wp-block-group__inner-container {
        max-width: 1140px;
    }

}

/* very wide screens */
@media (min-width: 1500px) {
    body #page-sub-header {
        min-height : 800px;
        
    }
    section#nine {
        height: 700px;
    }
}
/* mega wide screens */
@media (min-width: 2000px) {
    section#nine {
        height: 850px;
    }
}