/* fonts */
@font-face {
    font-family: 'Gotham Book';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Book'), url('inc/assets/fonts/GothamBook.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Book Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Book Italic'), url('inc/assets/fonts/GothamBookItalic.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Light';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Light'), url('https://www.cufonfonts.com/cdn/webfont/gotham/GothamLight.woff?token=a6splnLQB1z1BcAcwnbudJGe3sy76Ewv') format('woff');
}
@font-face {
    font-family: 'Gotham Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Light Italic'), url('https://www.cufonfonts.com/cdn/webfont/gotham/GothamLightItalic.woff?token=a6splnLQB1z1BcAcwnbudJGe3sy76Ewv') format('woff');
}
@font-face {
    font-family: 'Gotham Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Medium'), url('https://www.cufonfonts.com/cdn/webfont/gotham/GothamMedium.woff?token=a6splnLQB1z1BcAcwnbudJGe3sy76Ewv') format('woff');
}
@font-face {
    font-family: 'Gotham Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Medium'), url('inc/assets/fonts/GothamMedium.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Medium Italic'), url('https://www.cufonfonts.com/cdn/webfont/gotham/GothamMediumItalic.woff?token=a6splnLQB1z1BcAcwnbudJGe3sy76Ewv') format('woff');
}
@font-face {
    font-family: 'Gotham Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Bold'), url('https://www.cufonfonts.com/cdn/webfont/gotham/GothamBold.woff?token=a6splnLQB1z1BcAcwnbudJGe3sy76Ewv') format('woff');
}
@font-face {
    font-family: 'Gotham Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Bold'), url('https://www.cufonfonts.com/cdn/webfont/gotham/Gotham-Bold.woff?token=a6splnLQB1z1BcAcwnbudJGe3sy76Ewv') format('woff');
}
@font-face {
    font-family: 'Gotham Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Bold Italic'), url('https://www.cufonfonts.com/cdn/webfont/gotham/GothamBoldItalic.woff?token=a6splnLQB1z1BcAcwnbudJGe3sy76Ewv') format('woff');
}
@font-face {
    font-family: 'Gotham Black Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Black Regular'), url('https://www.cufonfonts.com/cdn/webfont/gotham/Gotham-Black.woff?token=a6splnLQB1z1BcAcwnbudJGe3sy76Ewv') format('woff');
}
@font-face {
    font-family: 'Gotham Light Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Light Regular'), url('https://www.cufonfonts.com/cdn/webfont/gotham/Gotham-Light.woff?token=a6splnLQB1z1BcAcwnbudJGe3sy76Ewv') format('woff');
}
@font-face {
    font-family: 'Gotham Thin Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Thin Regular'), url('https://www.cufonfonts.com/cdn/webfont/gotham/Gotham-Thin.woff?token=a6splnLQB1z1BcAcwnbudJGe3sy76Ewv') format('woff');
}
@font-face {
    font-family: 'Gotham XLight Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham XLight Regular'), url('https://www.cufonfonts.com/cdn/webfont/gotham/Gotham-XLight.woff?token=a6splnLQB1z1BcAcwnbudJGe3sy76Ewv') format('woff');
}
@font-face {
    font-family: 'Gotham Book Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Book Italic'), url('https://www.cufonfonts.com/cdn/webfont/gotham/Gotham-BookItalic.woff?token=a6splnLQB1z1BcAcwnbudJGe3sy76Ewv') format('woff');
}
@font-face {
    font-family: 'Gotham Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Thin Italic'), url('https://www.cufonfonts.com/cdn/webfont/gotham/Gotham-ThinItalic.woff?token=a6splnLQB1z1BcAcwnbudJGe3sy76Ewv') format('woff');
}
@font-face {
    font-family: 'Gotham Ultra Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Ultra Italic'), url('https://www.cufonfonts.com/cdn/webfont/gotham/Gotham-UltraItalic.woff?token=a6splnLQB1z1BcAcwnbudJGe3sy76Ewv') format('woff');
}
@font-face {
    font-family: 'Gotham XLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham XLight Italic'), url('https://www.cufonfonts.com/cdn/webfont/gotham/Gotham-XLightItalic.woff?token=a6splnLQB1z1BcAcwnbudJGe3sy76Ewv') format('woff');
}
/* google fonts usage: 
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Cabin', sans-serif;
font-family: 'Over the Rainbow', cursive;
font-family: 'EB Garamond', serif;
*/

.garamond {
    font-weight: 600;
    font-family: "EB Garamond";
    font-size: 22px;
}
.garamond-normal {
    font-family: "EB Garamond", serif;
    font-size: 22px;
}
.oswald {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    margin-bottom: 2rem;
}
