/* elements */
p {
    line-height: 1.6;
    margin: 1.5rem 0;
}
dl, ol, ul {
    line-height: 1.6;
}
label {
    width: 100%;
    font-size: 16px;
}
blockquote{
}
ol {
    padding-left: 3rem!important;
     li {
        padding-bottom: 0.5rem;
    }
}
blockquote {
    font-family: 'Abril Fatface', serif;
    quotes: "“" "”" "‘" "’";
    p:before {
        content: open-quote;
        margin-left: -2rem;
    }
    p:after {
        content: close-quote;
    }  
}
  