.btn-default, 
.btn-primary {
    font-family: 'Oswald';
    border: solid 1px black;
    padding: 0.5rem;
    margin-top: 1rem;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.btn-primary {
    background-color: #fff;
}
.btn-default{
    .red {
        background-color: transparent;
        color: red;
        border: solid 1px red;
    }
    &:hover {
        color: #000;
    }
    a {
        color: #000;
    }
}
.mainbuttons {
    margin: 0 3rem;
    padding-top: 0!important;
    a {
        margin-top: 0;
    }
}
