
.form-control {
    background-color: #fafafa;
}
.wpcf7-form-control-wrap {
    display: block;
    margin-top: 10px;
}
.wpcf7 {
    label {
        display: none;
    }
    p { 
       margin: 0;
    }
}
