h1, h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
h2, h3 {
    font-size: 2.4rem;
}
h3 {
    font-weight: 600;
    margin-top: 3rem;
}
h2.round {
    border: solid 2px black;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 50%;
    margin: 0 auto;
}